
<mat-card class="card">
  
  <mat-card-title>
    <span>{{inv.code}}</span>
    <span 
      [class]="(inv.amount * ( (inv.value * (exchangeRate$ | async))) - inv.invested)>0 ? 'pl winner' : 'pl'">
        {{(inv.amount * ( (inv.value * (exchangeRate$ | async))) - inv.invested) | currency:'CAD':'symbol-narrow':'1.2'}}
      </span>

  </mat-card-title>
  <mat-card-content>
     <div class="currency-detail" >
        <div class="currency-detail-row">
          <span class="currency-detail-label">{{"detail.value" | translate}}</span>
          <span class="currency-detail-price">
            <span>USD</span>
            <span>{{ inv.value | currency:'CAD':'symbol-narrow':'1.2-4'}}</span>
          </span>
          <span class="currency-detail-price">
            <span>CAD</span>
            <span>{{(inv.value * (exchangeRate$ | async)) | currency:'CAD':'symbol-narrow':'1.2'}}</span>
          </span>
        </div>
        <div class="currency-detail-row">
          <span class="currency-detail-label">Total: </span>
          <span class="currency-detail-price">
            <span>USD</span>
            <span>{{ inv.value * inv.amount | currency:'CAD':'symbol-narrow':'1.2'}}</span>
          </span>
          <span class="currency-detail-price">
              <span>CAD</span>
              <span>{{(inv.value * (exchangeRate$ | async)) * inv.amount | currency:'CAD':'symbol-narrow':'1.2'}}</span>
            </span>
        </div>
        <div class="currency-detail-row">
            <span class="currency-detail-label">{{"detail.amount" | translate}}</span>
            <span class="currency-detail-price">
              <span>{{"detail.holding" | translate}}</span>
              <span>{{ inv.amount | number:'1.0-5'}}</span>
            </span>
        </div>
        <div class="currency-detail-row">
            <span class="currency-detail-label">Invest: </span>
            <span class="currency-detail-price">
              <span>CAD</span>
              <span>{{ inv.invested | currency:'CAD':'symbol-narrow':'1.2'}}</span>
            </span>
        </div>
     </div>
  </mat-card-content>
</mat-card>