<div>
  <h2 mat-dialog-title>{{"add.edit.title" | translate}}</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
    <mat-dialog-content>
        <mat-form-field>
        <input matInput formControlName="code" [placeholder]="'add.edit.code' | translate">
        </mat-form-field>
        <div class="errorfield">
          <span *ngIf="(addForm.get('code').hasError('minlength') || addForm.get('code').hasError('maxlength')) && addForm.get('code').touched">{{"error.length" | translate}}</span>
          <span *ngIf="addForm.get('code').hasError('required') && addForm.get('code').touched">{{"error.required" | translate}}</span>
        </div>
        <mat-form-field>
        <input matInput formControlName="amount" [placeholder]="'add.edit.hold' | translate" type="number">
        </mat-form-field>
        <div class="errorfield">
          <span *ngIf="addForm.get('amount').hasError('required') && addForm.get('amount').touched">{{"error.required" | translate}}</span>
        </div>
        <mat-form-field>
        <input matInput formControlName="invested" [placeholder]="'add.edit.invest' | translate" type="number">
        </mat-form-field>
        <div class="errorfield">
          <span *ngIf="addForm.get('invested').hasError('required') && addForm.get('invested').touched">{{"error.required" | translate}}</span>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button type="submit" [disabled]="addForm.invalid">{{"global.save" | translate}}</button>
      <button mat-raised-button type="button" (click)="cancelTheForm()">{{"global.cancel" | translate}}</button>
    </mat-dialog-actions>
  </form>

</div>
