<div>
  <h2 mat-dialog-title>MY DIALOG</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
    <mat-dialog-content>
        <mat-form-field>
        <input matInput formControlName="code" placeholder="Currency code">
        </mat-form-field>
        <div class="errorfield">
          <span *ngIf="(addForm.get('code').hasError('minlength') || addForm.get('code').hasError('maxlength')) && addForm.get('code').touched">Length between 3 and 5</span>
          <span *ngIf="addForm.get('code').hasError('required') && addForm.get('code').touched">Required</span>
        </div>
        <mat-form-field>
        <input matInput formControlName="amount" placeholder="Number of unit hold" type="number">
        </mat-form-field>
        <div class="errorfield">
          <span *ngIf="addForm.get('amount').hasError('required') && addForm.get('amount').touched">Required</span>
        </div>
        <mat-form-field>
        <input matInput formControlName="invested" placeholder="Total value invested" type="number">
        </mat-form-field>
        <div class="errorfield">
          <span *ngIf="addForm.get('invested').hasError('required') && addForm.get('invested').touched">Required</span>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button type="submit" [disabled]="addForm.invalid">SAVE</button>
      <button mat-raised-button (click)="cancelTheForm()">CANCEL</button>
    </mat-dialog-actions>
  </form>

</div>
