<app-spinner [loading]="loading"></app-spinner>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Wallet</span>
    <span class="toolbar-spacer"></span>
    <span class="rate">ex-rate: {{(exchangeRate$ | async) | currency:'CAD':'symbol-narrow':'1.4'}}</span>
  </mat-toolbar-row>
</mat-toolbar>
 
<app-crypto *ngFor="let inv of wallet$ | async" [inv]="inv"></app-crypto>

<button mat-fab color="primary" class="fixed-bottom" (click)="updateData()">
  <i class="material-icons">autorenew</i>
</button>